# Core libraries
requests>=2.20.0
smbus2>=0.4.1
pygame>=2.0.0

# Hardware-specific libraries
adafruit-circuitpython-bme280>=2.6.15
adafruit-circuitpython-scd4x>=1.4.9
sensirion-i2c-scd>=0.1.2

# Web server-related libraries
Flask>=1.1.2
Jinja2>=2.10.1
Werkzeug>=1.0.1

# Optional dependencies for Raspberry Pi hardware
RPi.GPIO>=0.7.0; platform_system != "Windows"  # Include only on non-Windows systems